<div class="max-w-4xl mx-auto p-4 relative">
  <div class="flex items-center justify-between mb-14">
    <h2 class="text-3xl font-bold">Photography / <span class="text-gray-400 font-normal">Premium Photos</span></h2>
    <div class="flex items-center">
      <span>⇅</span>
      <span class="text-gray-400"> Sort By </span>
      <select class="ml-2">
        @for(category of categories; track categories) {
          <option [value]="category.name">{{ category.name }}</option>
        }
      </select>
    </div>
  </div>
  <div class="grid grid-cols-2 gap-4">
    <div>
      <h3 class="font-bold mb-4">Category</h3>
      @for (category of categories; track category) {
      <div class="mb-4">
        <input
          type="checkbox"
          [name]="category.name"
          [id]="category.id"
          (click)="toggleCategories(category.name)"
        />
        <label class="ml-3">{{category.name}}</label>
      </div>
      }
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
      @for (product of products; track product) {
      <app-card
        [name]="product.name"
        [price]="product.price"
        [category]="product.category"
        [image]="product.image"
      ></app-card>
      }
    </div>
  </div>
</div>
