<div class="max-w-2xl mx-auto p-8 relative">
    <div class="flex items-center justify-between mb-4">
        <h2 class="text-3xl font-bold">Samurai King Resting</h2>
        <button class="bg-black text-white px-4 py-2">ADD TO CART</button>
    </div>
    <div class="relative">
        <img class="mt-4 mb-8" src="assets/perro.jpg" alt="Samurai King Resting">
        <div class="absolute bottom-0 left-0 bg-white text-black p-2">
            <p class="text-sm">Photo of the day</p>
        </div>
    </div>
    <h4 class="text-xl font-bold mb-2">About the Samurai King Resting</h4>
    <h5 class="text-lg font-semibold mb-2">Pets</h5>
    <p class="text-gray-700 mb-4">
        So how did the classical Latin become so incoherent? According to McClintock, a 15th century typesetter likely scrambled part of Cicero's De Finibus in order to provide placeholder text to mockup various fonts for a type specimen book.So how did the classical Latin become so incoherent? According to McClintock, a 15th century typesetter likely scrambled part of Cicero's De Finibus in order to provide placeholder.
text to mockup various fonts for a type specimen book.So how did the classical Latin become so incoherent? According to McClintock.
     </p>
</div>
