<div class="max-w-4xl mx-auto p-4 relative">
  <div class="flex items-center justify-between mb-4">
    <h2 class="text-3xl font-bold">Samurai King Resting</h2>
    <button class="bg-black text-white px-4 py-2">ADD TO CART</button>
  </div>
  <div class="relative">
    <img class="mt-4 mb-8" src="assets/perro.jpg" alt="Samurai King Resting" />
    <div class="absolute bottom-0 left-0 bg-white text-black p-2">
      <p class="text-sm">Photo of the day</p>
    </div>
  </div>
  <div class="grid grid-cols-2 gap-4">
    <div>
      <h4 class="text-xl font-bold mb-2">About the Samurai King Resting</h4>
      <h5 class="text-lg font-semibold mb-2">Pets</h5>
      <p class="text-gray-700 mb-4">
        So how did the classical Latin become so incoherent? According to
        McClintock, a 15th century typesetter likely scrambled part of Cicero's
        De Finibus in order to provide placeholder text to mockup various fonts
        for a type specimen book.So how did the classical Latin become so
        incoherent? According to McClintock, a 15th century typesetter likely
        scrambled part of Cicero's De Finibus in order to provide placeholder.
        text to mockup various fonts for a type specimen book.So how did the
        classical Latin become so incoherent? According to McClintock.
      </p>
    </div>
    <div>
      <h4 class="text-xl font-bold mb-2">People also buy</h4>
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
        <app-card
          [nombre]="'Producto 1'"
          [precio]="29.99"
          [descripcion]="'Descripción del producto 1'"
        ></app-card>
        <app-card
          [nombre]="'Producto 2'"
          [precio]="39.99"
          [descripcion]="'Descripción del producto 2'"
        ></app-card>
        <app-card
          [nombre]="'Producto 3'"
          [precio]="49.99"
          [descripcion]="'Descripción del producto 2'"
        ></app-card>
      </div>
    </div>
    <div></div>
  </div>
</div>
