<header class="p-4">
  <div class="container mx-auto flex justify-between items-center">
    <div>
      <a routerLink="/" class="text-lg font-bold">Bejamas_</a>
    </div>
    <div
      class="flex items-center cursor-pointer"
      (click)="toggleVisibilityCart()"
    >
      <div
        class="bg-black h-4 w-4 text-white flex items-center justify-center mr-4 text-xs"
      >
        {{ cart.length }}
      </div>
      <svg
        class="h-8 w-8 text-black"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z"
        />
      </svg>
    </div>
  </div>
</header>

@if (!cartIsHidden) {
  <div class="fixed top-1/16 right-1/8 z-50 bg-white border-2 p-6 w-80">
    <div
    class="cursor-pointer text-right font-bold mr-2"
    (click)="toggleVisibilityCart()"
  >
    X
  </div>
  <div class="mb-2">
    @if (cart.length === 0){
    <p class="text-center text-gray-500 p-3">The cart is empty.</p>
    } @else{ @for (product of cart; track product) {
    <div class="mb-2 grid grid-cols-2 items-center gap-4">
      <div class="text-center">
        <p class="font-bold">{{ product.name }}</p>
        <p class="text-gray-500">${{ product.price }}</p>
      </div>
      <div>
        <img class="" src="{{ product.image }}" alt="Samurai King Resting" />
      </div>
    </div>
    <hr class="my-4" />
    } }
  </div>
  <button
    class="w-full bg-white py-1.5 font-medium text-black border-2 border-black disabled:opacity-40"
    (click)="clearCart()"
    [disabled]="cart.length === 0"
  >
    Clear
  </button>
</div>
}
