<!-- card.component.html -->
<div class="border overflow-hidden card-container relative" 
     (mouseenter)="showAddToCartBox = true" 
     (mouseleave)="showAddToCartBox = false">
     <div class="relative">
        <img class="w-full h-auto" src="assets/perro.jpg" alt="Card Image">
        @if (showAddToCartBox) {
            <div class="absolute bottom-0 left-0 w-full bg-white text-center p-2 opacity-90">
                ADD TO CART
            </div>
            }
     </div>
  <div class="p-4">
    <p class="text-gray-500 font-bold">{{ categoria }}</p>
    <h2 class="font-bold">{{ nombre }}</h2>
    <p class="text-gray-500">${{ precio.toFixed(2) }}</p>
  </div>
</div>
