<div class="h-full w-full flex flex-col justify-between" 
     (mouseenter)="showAddToCartBox = true" 
     (mouseleave)="showAddToCartBox = false">
  <div class="relative " (click)="addToCart()">
    <img class="object-cover object-center" src="{{image}}" alt="Card Image">
    @if (bestSeller) {
    <div class="absolute top-0 left-0 px-1 bg-white text-center text-black">
      <p class="text-xs">Best Seller</p>
    </div>
  }
    @if (showAddToCartBox) {
      <div class="cursor-pointer size absolute bottom-0 left-0 bg-black text-white text-center p-2 w-full opacity-90">
        <span class="">ADD TO CART</span>
      </div>
    }
  </div>
  <div class="p-4 jus">
    <p class="text-gray-500 font-bold">{{ category }}</p>
    <h2 class="font-bold">{{ name }}</h2>
    <p class="text-gray-500">${{ price.toFixed(2) }}</p>
  </div>
</div>
